/* COLOR THEME */
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-text: var(--color-text);
$color-text-highlight: var(--color-text-highlight);
$color-text-dim: var(--color-text-dim);
