/* LEFT UI FIX */
#ui-left {
  min-width: 220px;
}

/* LOGO */
body.hideLogo {
  #logo {
    display: none !important;
  }

  /* Preserve top spacing */
  #ui-left {
    margin-top: 125px;
  }

  /* Move navigation left */
  #ui-top {
    margin-left: -205px;
  }
}

/* NAVIGATION */
body.hideNavigation #navigation {
  display: none !important;
}

/* CONTROLS */
body.hideControls {
  #controls {
    display: none !important;
  }

  /* Keep the players interface at the bottom */
  #players {
    margin-top: auto;
  }
}

/* PLAYERS */
body.hidePlayers {
  #players {
    display: none !important;
  }

  /* Preserve bottom spacing */
  #ui-left {
    margin-bottom: 65px;
  }

  /* Move hotbar left */
  #ui-bottom {
    margin-left: -216px;
  }
}

/* HOTBAR */
body.hideHotbar {
  #hotbar {
    display: none !important;
  }

  /* No need to preserve spacing if hidden */
  #ui-left {
    margin-bottom: 0;
  }
}

/* SIDEBAR TABS */
body.hideChat #sidebar-tabs a[data-tab="chat"],
body.hideCombat #sidebar-tabs a[data-tab="combat"],
body.hideScenes #sidebar-tabs a[data-tab="scenes"],
body.hideActors #sidebar-tabs a[data-tab="actors"],
body.hideItems #sidebar-tabs a[data-tab="items"],
body.hideJournal #sidebar-tabs a[data-tab="journal"],
body.hideTables #sidebar-tabs a[data-tab="tables"],
body.hideCards #sidebar-tabs a[data-tab="cards"],
body.hidePlaylists #sidebar-tabs a[data-tab="playlists"],
body.hideCompendium #sidebar-tabs a[data-tab="compendium"],
body.hideSettings #sidebar-tabs a[data-tab="settings"] {
  display: none !important;
}
