#theme-glass-hide-interface-form,
#theme-glass-color-theme-form {
  div.how-to {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 15px;
  }

  div.components-header label {
    flex-shrink: initial;
    flex-grow: initial;
    font-weight: bold;
    text-wrap: nowrap;

    &.push-right {
      margin-left: auto;
    }
  }

  div.form-group input.color {
    margin-right: 10px;
  }
}
