/* SELECT FIELD */
@define-mixin select {
  @mixin reset;

  color: $color-text-dim;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba($color-accent, 0.5);
  box-shadow: inset 0 0 3px rgba($color-accent, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid rgba($color-accent-secondary, 1);
  }

  &:focus {
    color: $color-text;
  }

  optgroup,
  option {
    color: $color-text-dim;
    background-color: rgba($color-accent, 0.9);
  }

  option:hover {
    color: $color-text-highlight;
  }
}

/* TEXTAREA FIELD */
@define-mixin textarea {
  @mixin reset;

  color: $color-text-dim;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba($color-accent, 0.5);
  border: 1px solid rgba($color-accent, 0.5);

  &:hover,
  &:focus {
    border: 1px solid rgba($color-accent-secondary, 1);
  }

  &:focus {
    color: $color-text;
  }
}
