/* COLOR DEFINITION */
$color-accent: #20222c;
$color-accent-secondary: #d2232a;
$color-text: #f0f0e0;
$color-text-highlight: #ffffff;
$color-text-dim: #acacac;

/* RESET SOME PROPERTIES */
@define-mixin reset {
  background: none;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

/* ADD SHADOW TO A BLOCK */
@define-mixin shadowed {
  box-shadow: rgba(0, 0, 0, 0.75) 0 2px 8px;
  border: 0;
}

/* ADD A BLUR BACKGROUND TO A BLOCK */
@define-mixin blurred {
  background-color: rgba(0, 0, 0, 0.1);

  body.shouldBlur & {
    backdrop-filter: blur(4px);
  }
}

/* ADD A BORDER TO A BLOCK */
@define-mixin bordered {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0px;
    mask-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: inherit;
    pointer-events: none;
  }
}

/* ADD PROPERTIES TO LINKS */
@define-mixin text-link {
  &:hover,
  &.active {
    color: $color-text-highlight;
  }
}

/* ADD SHADOW TO A TEXT */
@define-mixin text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

/* CREATE BUTTON */
@define-mixin button {
  @mixin shadowed;
  @mixin blurred;
  @mixin bordered;
  @mixin text-link;
  @mixin text-shadow;

  color: $color-text;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid rgba($color-accent-secondary, 1);
  }

  &.active {
    background-color: rgba($color-accent, 0.75);
    border: 1px solid rgba($color-accent-secondary, 1);
  }
}

/* CREATE ICON & TEXT BUTTON */
@define-mixin icon-button $color: $color-text {
  @mixin text-link;
  @mixin text-shadow;

  color: $color;

  i {
    @mixin text-shadow;
  }
}
