#smalltime-app {
  &:hover {
    opacity: 0.9;
  }

  /* If interface is hidden, keep it at the bottom */
  &.pinned {
    margin-top: auto;

    & + #players {
      margin-top: initial;
    }
  }
}
