#settings-popout section.window-content section.settings-sidebar,
#interface #ui-right #sidebar #settings {
  /* HEADERS */
  h2 {
    background-color: rgba($color-primary, 0.5);
    border-color: rgba(0, 0, 0, 0.15);
  }

  /* FIRST SECTION */
  #game-details li {
    color: rgb($color-text);
    text-shadow: $text-shadow;
  }

  /* BUTTONS LIST */
  #settings-game button,
  #settings-documentation button,
  #settings-access button {
    @mixin button;
  }
}
