#combat-popout section.window-content section.combat-sidebar,
#interface #ui-right #sidebar #combat {
  header.combat-tracker-header {
    border-bottom-color: rgba(255, 255, 255, 0.2);

    /* HEADER FIRST PART */
    nav.encounters {
      a.combat-button {
        @mixin link rgb($color-text-dim);
      }

      h4.encounter {
        color: rgb($color-text-dim);
        text-shadow: $text-shadow;
        font-size: 16px;
      }
    }

    /* HEADER SECOND PART */
    div.encounter-controls {
      a.combat-button {
        @mixin link rgb($color-text-dim);
      }

      h3.encounter-title {
        color: rgb($color-text);
        text-shadow: $text-shadow;
      }
    }
  }

  /* CHARACTERS LIST */
  #combat-tracker {
    li.combatant {
      div.token-name {
        h4 {
          color: rgb($color-text);
        }

        div.combatant-controls a.combatant-control {
          @mixin link rgb($color-text-dim);
        }

        div.combatant-controls div.token-effects img {
          border-radius: 3px;
        }
      }
    }

    div.token-initiative span.initiative {
      color: rgb($color-text);
      text-shadow: $text-shadow;
    }
  }

  /* FOOTER */
  #combat-controls {
    background-color: transparent;

    border-top-color: rgba(255, 255, 255, 0.2);

    a.combat-control {
      @mixin link;
    }
  }
}
