#interface #ui-right #sidebar {
  &:not(.collapsed) #sidebar-tabs a.collapse {
    margin-left: auto;
  }

  #sidebar-tabs {
    box-shadow: none;
    border: 0;

    margin-top: 10px;
    justify-content: flex-start;

    a {
      margin: 0 0.5px;
    }

    /* ICONS LIST */
    a.item {
      @mixin link;

      &.active {
        box-shadow: none;
        border: 0;

        border-bottom: 2px solid rgb($color-secondary);
      }
    }

    a.collapse {
      @mixin link rgb($color-text-dim);
    }
  }
}
