#interface #ui-right #sidebar {
  background-image: none;
  box-shadow: none;
  border: 0;

  overflow: visible;

  &.collapsed {
    @mixin transparent-box;
    @mixin bordered-box;

    box-shadow: $bg-shadow;
  }

  /* ICONS CONTAINER */
  section.tab.active {
    @mixin transparent-box;
    @mixin bordered-box;

    box-shadow: $bg-shadow;
    border-radius: 3px;
  }
}
