#context-menu {
  box-shadow: $bg-shadow;
  background-color: rgb($color-primary);

  /* ITEMS LIST */
  li.context-item {
    color: rgb($color-text) !important;
    text-shadow: $text-shadow !important;
    padding: 2px 5px;
    cursor: pointer;

    &:hover,
    &.active {
      color: rgb($color-text-highlight) !important;
    }

    a:hover {
      text-shadow: $text-shadow !important;
    }

    i {
      color: rgba($color-secondary, 0.9) !important;
    }

    &:hover i {
      text-shadow: rgba($color-secondary, 0.1) 0 0 1px !important;
    }
  }
}
