#interface #ui-middle #ui-bottom #hotbar {
  /* FIRST TWO ICONS */
  #hotbar-directory-controls {
    background: none;
    border: 0;
    box-shadow: none;

    #bar-toggle,
    #macro-directory {
      @mixin link;
    }

    #bar-toggle {
      font-size: 18px;
    }
  }

  #action-bar {
    /* MACRO BAR */
    #macro-list {
      border: 0;

      @mixin bordered-box;

      box-shadow: $bg-shadow;
      margin-top: 2px;
      height: 96%;

      li.macro {
        box-shadow: none;

        @mixin transparent-box;

        border: 1px solid transparent;

        &:not(:last-child) {
          border-right: 1px solid rgba(255, 255, 255, 0.15);
        }

        &:hover {
          border: 1px solid $color-accent-secondary;
        }

        span.macro-key {
          text-shadow: $text-shadow;
          color: $color-text-dim;
          background-color: transparent;
        }

        &.active span.macro-key {
          background-color: rgba($color-accent, 0.9);
        }
      }
    }

    /* LOCK ICON */
    #hotbar-lock {
      background: none;
      border: 0;
      box-shadow: none;

      a.page-control {
        @mixin link;
      }
    }

    /* PAGE CONTROLS */
    #hotbar-page-controls {
      background: none;
      border: 0;
      box-shadow: none;

      a.page-control {
        @mixin link;
      }

      span.page-number {
        text-shadow: $text-shadow;
        color: $color-text;
      }
    }
  }
}
