#interface #ui-middle #ui-top #navigation {
  /* Only if hide logo setting is enabled */
  body.hideLogo & {
    margin-left: -115px;
  }

  /* TOGGLE BUTTON */
  #nav-toggle {
    @mixin glass-button;
  }

  /* SCENES LIST */
  #scene-list li.nav-item {
    @mixin glass-button;

    &.active {
      border: 1px solid transparent;
    }

    &:hover.active {
      border: 1px solid $color-accent-secondary;
    }

    &.view {
      border: 1px solid $color-accent-secondary;
    }
  }
}
