#interface #ui-left #players {
  background-image: none;
  border: 0;

  @mixin transparent-box;
  @mixin bordered-box;

  box-shadow: $bg-shadow;

  /* PLAYER TEXT-ICON BUTTON */
  h3 {
    @mixin link;

    font-size: 16px;
    border-bottom: 0;
    cursor: pointer;

    i {
      font-size: 14px;
    }
  }

  /* PLAYERS LIST */
  #player-list li.player {
    cursor: context-menu;

    &.context {
      border-color: rgb($color-secondary);
    }

    span.player-name {
      text-shadow: $text-shadow;
      color: rgb($color-text-dim);
    }
  }
}
