.window-app {
  /* HEADER */
  header.window-header {
    h4 {
      color: $color-text;
      text-shadow: $text-shadow;
    }

    h4 a.document-id-link {
      @mixin link $color-text-dim;
    }

    a.header-button {
      @mixin link;
    }
  }

  /* CONTENT */
  section.window-content {
    opacity: 0.8;
  }

  /* TARGET ALL SIDEBARS & MACROS POPOUT */
  &#macros-popout,
  &#chat-popout,
  &#combat-popout,
  &#scenes-popout,
  &#actors-popout,
  &#items-popout,
  &#journal-popout,
  &#tables-popout,
  &#cards-popout,
  &#playlists-popout,
  &#compendium-popout,
  &.Compendium-sidebar,
  &#settings-popout {
    background: none;

    section.window-content {
      opacity: 1;
    }

    header.window-header {
      background: url(/ui/denim075.png) repeat;
    }
  }
}
